@page "/Counter"
@rendermode InteractiveServer
@using System
@using MOLS_Game.TreeClasses
@using System.Diagnostics;

@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager



<h3>The MOLS Puzzle Game</h3>

<div style="display: flex; align-items: start; gap: 20px;">

    <div style="display: flex; flex-direction: column; align-items:center; gap:20px">
        <div class="puzzle-container" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 5px;">
            @for (int i = 0; i < 16; i++)
            {
                if (TileEditor.CheckIfMOLS(tiles))
                {
                    <div style="width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; border: 1px solid black; background-color: lightgreen">
                        @tiles[i]
                    </div>
                }
                else
                {
                    if (tiles[i] == "11")
                    {
                        <div style="width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; border: 1px solid black; background-color: gray">
                            @tiles[i]
                        </div>
                    }
                    else
                    {
                        <div style="width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; border: 1px solid black;">
                            @tiles[i]
                        </div>
                    }

                }

            }
        </div>
        <div style="width: 416px; height: 100px; display: flex; align-items: flex-start; justify-content: left; border: 1px solid black;word-wrap: break-word; overflow-wrap: break-word;">
            
            <div style="word-wrap: break-word; overflow-wrap: break-word; width: 100%;">
                @longPath
            </div>
            
        </div>
    </div>
    
    <div style="display: flex; flex-direction: column; align-items:center; gap:20px;">


        
        <button class="btn btn-outline-dark" style="width:210px; height:40px" @onkeydown="KeyDown">Press to Use Arrow Keys</button>
        <!-- <a href="/Permutations/@tableInfo/@emptyIndex" class="btn btn-outline-primary">Get Closest Permutations</a>-->
        <button class="btn btn-outline-dark" style="width:210px; height:40px" @onclick="InitializeGame">Press to Randomize Tiles</button>
        


        <button class="btn btn-outline-dark" style="width:210px; height:40px" @onclick="() => RunJobAsync(PathFindingType.BreadthFirst)">Find Solution (BFS)</button>
        <button class="btn btn-outline-dark" style="width:210px; height:40px" @onclick="() => RunJobAsync(PathFindingType.Heuristic)">Find Solution (H)</button>
        <!--<button class="btn btn-outline-dark" style="width:210px; height:40px" @onclick="() => RunJobAsync(PathFindingType.OptimizedH)">Find Solution (H+BFS)</button>-->
        <!--<button class="btn btn-outline-dark" style="width:210px; height:40px" @onclick="() => RunJobAsync(PathFindingType.ReOptimizedH)">Find Solution (BFS+H)</button>-->
        <button class="btn btn-outline-dark" style="width:210px; height:40px" @onclick="() => RunJobAsync(PathFindingType.DepthModifier)">Find Solution (DMOD)</button>
        <button class="btn btn-outline-dark" style="width:210px; height:40px" @onclick="() => RunJobAsync(PathFindingType.DepthModifierNewHeuristic)">Find Solution (DMODNH)</button>
        
        <button class="btn btn-outline-dark" style="width:210px; height:40px" @onclick="() => RunJobAsync(PathFindingType.EvaluateHeuristicAtFrontier)">Evaluate H (19Depth)</button>

        <!--<button class="btn btn-outline-dark" style="width:210px; height:40px" @onclick="() => RunJobAsync(PathFindingType.Swap)">Press to Find Swap</button>-->
        <button class="btn btn-outline-dark" style="width:210px; height:40px" @onclick="GenerateAndSaveMOLS">Generate All MOLS</button>
        
    </div>

    <div style="width: 416px; height: 500px; display: flex; align-items: flex-start; justify-content: left; border: 1px solid black;">
        <div style="word-wrap: break-word; overflow-wrap: break-word; width: 100%;">
            @path

            <p>Length: @path.Length</p>

            <p>Heuristic: @heuristic</p>
        </div>
    </div>
    


    
    

</div>

<script>
    function saveAsFile(filename, bytesBase64) {
        var link = document.createElement('a');
        link.href = "data:text/plain;base64," + bytesBase64;
        link.download = filename;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>

@code {
    private string[] tiles = { "11", "22", "33", "44", "24", "13", "42", "31", "32", "41", "14", "23", "43", "34", "21", "12" };
    //private string[] tiles = { "13", "42", "24", "31", "22", "33", "11", "44", "41", "14", "32", "23", "34", "21", "43", "12" };
    public string tableInfo = "01020304050607080910111213141511"; // turn into starting permutation every time.
    private int emptyIndex = 0; // Assuming the empty space starts at the top left
    private string path = "";
    private string longPath = "";

    private int heuristic = 999;

    async Task RunJobAsync(PathFindingType type)
    {
        Stopwatch stopwatch = Stopwatch.StartNew();

        await Task.Run(() => FindPath(type));
        StateHasChanged();

        stopwatch.Stop();
        Console.WriteLine($"Milliseconds to run {type}: " + stopwatch.ElapsedMilliseconds);
    }

    private async Task GenerateAndSaveMOLS()
    {
        MOLSGenerator generator = new MOLSGenerator();
        string jsonMOLS = generator.GenerateAndExportMOLS(tiles);
        await JSRuntime.InvokeVoidAsync("saveAsFile", "MOLS.json", jsonMOLS);
    }

    private void FindPath(PathFindingType type)
    {
        switch (type)
        {
            case PathFindingType.BreadthFirst:
                path = TileEditor.GetPermutationsBreadthFirstSearch(tiles);
                break;
            case PathFindingType.Swap:
                path = TileEditor.GetPermutations2(tiles, TileEditor.SwapTiles1(tiles, 0, 7));
                break;
            case PathFindingType.Heuristic:
                path = TileEditor.GetPermutationsHeuristic(tiles);
                break;
            case PathFindingType.OptimizedH:
                path = TileEditor.GetPermutationsNewest(tiles,6);
                break;
            case PathFindingType.ReOptimizedH:
                path = TileEditor.GetPermutationsWithHeuristic(tiles);
                break;
            case PathFindingType.DepthModifier:
                path = TileEditor.GetPermutationsDaniel(tiles);
                break;
            case PathFindingType.DepthModifierNewHeuristic:
                path = TileEditor.GetPermutationsDaniel2(tiles);
                break;
            case PathFindingType.EvaluateHeuristicAtFrontier:
                path = TileEditor.EvaluateHeuristicOfNodesAtFrontier(tiles);
                break;

        }
        longPath = ShortToLongMoves(path);
        GC.Collect();
    }



    public string ShortToLongMoves(string shortMoves)
    {
        Dictionary<string, string> ShortToLongMovesMap = new Dictionary<string, string>
    {
        { "L", "h1, " },
        { "LL", "h2, " },
        { "LLL", "h3, " },
        { "U", "v1, " },
        { "UU", "v2, " },
        { "UUU", "v3, " },
        { "R", "h3, " },
        { "RR", "h2, " },
        { "RRR", "h1, " },
        { "D", "v3, " },
        { "DD", "v2, " },
        { "DDD", "v1, " }
    };

        string longMoves = "";
        List<string> shortMovesList = new List<string>();

        int p1 = 0;
        for (int i = 1; i <= shortMoves.Length; i++)
        {
            if (i == shortMoves.Length || shortMoves[i] != shortMoves[i - 1])
            {
                shortMovesList.Add(shortMoves.Substring(p1, i - p1));
                p1 = i;
            }
        }

        foreach (string identicalMove in shortMovesList)
        {
            longMoves += ShortToLongMovesMap.GetValueOrDefault(identicalMove, "");
        }

        return longMoves;
    }



   

    protected override void OnInitialized()
    {
        InitializeGame();
    }


    private void InitializeGame()
    {
        var rng = new Random();
        rng.Shuffle(tiles); //use this to shuffle for a shuffle button as well
        emptyIndex = Array.IndexOf(tiles,"11");
        heuristic = TileEditor.MOLSHeuristic(tiles);
        
    }



    private void MoveUp()
    {
        // Implement logic to move the empty space up, if possible
        if (emptyIndex > 3) // Check if not in the top row
        {
            SwapTiles(emptyIndex, emptyIndex - 4);
        }

    }

    private void MoveDown()
    {
        // Implement logic to move the empty space down, if possible
        if (emptyIndex < 12) // Check if not in the bottom row
        {
            SwapTiles(emptyIndex, emptyIndex + 4);
        }

    }

    private void MoveLeft()
    {
       
        
        if (emptyIndex % 4 != 0) // check if not in the first column
        {
            SwapTiles(emptyIndex, emptyIndex - 1);
        }
    }

    private void MoveRight()
    {
        if (emptyIndex % 4 != 3) // check if not in the last column
        {
            SwapTiles(emptyIndex, emptyIndex + 1);
        }
    }

    private void SwapTiles(int index1, int index2)
    {
        var temp = tiles[index1];
        tiles[index1] = tiles[index2];
        tiles[index2] = temp;
        emptyIndex = index2; 


        tableInfo = "";
        foreach(string t in tiles)
        {
            tableInfo += t;
        }
        heuristic = TileEditor.MOLSHeuristic(tiles);
        StateHasChanged(); // Re-render the component
    }

    private void KeyDown(Microsoft.AspNetCore.Components.Web.KeyboardEventArgs args)
    {
        if(args.Key == "ArrowDown")
        {
            MoveDown();
        } else if(args.Key == "ArrowUp")
        {
            MoveUp();
        } else if(args.Key == "ArrowLeft")
        {
            MoveLeft();
        } else if(args.Key == "ArrowRight")
        {
            MoveRight();
        }
    }


    public enum PathFindingType
    {
        BreadthFirst,
        Swap,
        Heuristic,
        OptimizedH,
        ReOptimizedH,
        DepthModifier,
        DepthModifierNewHeuristic,
        EvaluateHeuristicAtFrontier
    }

}
